<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>
		<!--@@var=title-->
	</title>
	<meta name="Content-Language" content="en" />
	<meta name="robots" content="noindex,nofollow" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="apple-mobile-web-app-title" content="Gulp 4 Bundler">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="mobile-web-app-capable" content="yes">
	<link href="../assets/img/favicon.ico" rel="shortcut icon" type="image/ico" />
	<!-- @@placeholder= css -->
</head>

<body class="<!--@@var=class-->">
	<main class="wrapper">
		<!-- @@placeholder= main -->
	</main>
	<link rel="preload" href="../css/vendors.min.css" as="style">
	<link rel="stylesheet" href="../css/vendors.min.css" />
	<!-- @@placeholder= js -->
</body>

</html>
