<section class="section slider--carousel section--overflow">
	<div class="container">
		<div class="box box--heading-inline">
			<h4 class="title">4 cards</h4>
		</div>
		<div class="carousel" data-carousel="1">
			<div class="swiper" data-swiper-slider="sliderCarousel">
				<div class="carousel__nav" data-carousel-nav></div> 
				<div class="swiper-wrapper">
					<div class="swiper-slide" data-carousel-item="Lorem ipsum dolor">
						<figure class="carousel__card">
							<a href="#" href="#" title="ritatis minus rerum">
								<picture>
									<source srcset="./assets/img/thumb-4.webp" media="(max-width: 767px)" alt="Title" width="800" height="1200" type="image/webp"> 
									<img src="./assets/img/thumb-4.jpg" alt="ritatis minus rerum" width="800" height="1200">
								</picture>
								<figcaption>
									<div class="content content--light content--small content--strict">
										<h4 class="h4">Lorem ipsum dolor
										</h4>
										<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi ratione deserunt at hic, labore pariatur dolores assumenda voluptate, culpa consequatur, aperiam minus nam</p>
									</div>
								</figcaption>
							</a>
						</figure>
					</div>
					<div class="swiper-slide" data-carousel-item="Lorem ipsum">
						<figure class="carousel__card">
							<a href="#" href="#" title="Loremt amet consectetu">
								<picture>
									<source srcset="./assets/img/thumb-6.webp" media="(max-width: 767px)" alt="Title" width="800" height="1200" type="image/webp"> 
									<img src="./assets/img/thumb-6.jpg" alt="ritatis minus rerum" width="800" height="1200">
								</picture>
								<figcaption>
									<div class="content content--light content--small content--strict">
										<h4 class="h4">nam dicta doloribus tempora illo 
										</h4>
										<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi ratione deserunt at hic, labore pariatur dolores assumenda voluptate, culpa consequatur, aperiam eaque numquam maiores.</p>
									</div>
								</figcaption>
							</a>
						</figure>
					</div>
					<div class="swiper-slide" data-carousel-item="Animi ratione deserunt">
						<figure class="carousel__card">
							<a href="#" href="#" title="Animi ratione deserunt">
								<picture>
									<source srcset="./assets/img/thumb-7.webp" media="(max-width: 767px)" alt="Title" width="800" height="1200" type="image/webp"> 
									<img src="./assets/img/thumb-7.jpg"  alt="ritatis minus rerum" width="800" height="1200">
								</picture>
								<figcaption>
									<div class="content content--light content--small content--strict">
										<h4 class="h4">Animi ratione deserunt
										</h4>
										<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur modi voluptatibus distinctio architecto sunt fugit facere repellat sequi neque eum magnam eius labore dolore, maxime minima ullam obcaecati nemo vitae?</p>
									</div>
								</figcaption>
							</a>
						</figure>
					</div>
					<div class="swiper-slide" data-carousel-item="nam dicta doloribus">
						<figure class="carousel__card">
							<a href="#" href="#" title="nam dicta doloribus">
								<picture>
									<source srcset="./assets/img/thumb-2.webp" media="(max-width: 767px)" alt="Title" width="800" height="1200" type="image/webp"> 
									<img src="./assets/img/thumb-2.jpg" alt="ritatis minus rerum" width="800" height="1200">
								</picture>
								<figcaption>
									<div class="content content--light content--small content--strict">
										<h4 class="h4">nam dicta doloribus tempora illo 
										</h4>
										<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi ratione deserunt at hic, labore pariatur dolores assumenda voluptate, culpa consequatur, aperiam eaque numquam maiores.</p>
									</div>
								</figcaption>
							</a>
						</figure>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>