<footer class="footer">
	<div class="footer__primary">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-6">
					<div class="footer__contacts">
						<div class="logo">
							<img src="../assets/svg/logo.svg" alt="">
						</div>
						<div class="footer__item">
							<svg class="ico ico-svg">
								<use xlink:href="#ico-ws"></use>
							</svg>
							<div class="box">
								<h6 class="h6">MUSE Trento</h6>
								<div class="text">
									<p>
										<span>C.so del Lavoro e della Scienza, 3</span>
										<span>38122 Trento (Italy)</span>
									</p>
								</div>
							</div>
						</div>
						<div class="footer__item">
							<svg class="ico ico-svg">
								<use xlink:href="#ico-ws"></use>
							</svg>
							<div class="box">
								<div class="text">
									<p>
										<span>martedì - venerdì 10-18</span>
										<span>sabato, domenica e festivi 10-19</span>
										<span>lunedì: chiuso</span>
									</p>
								</div>
							</div>
						</div>
						<div class="footer__item">
							<svg class="ico ico-svg">
								<use xlink:href="#ico-ws"></use>
							</svg>
							<div class="box">
								<div class="text">
									<p>
										<span>t. 39 0461 270311</span>
										<span>E-mail <a href="mailto:museinfo@muse.it">museinfo@muse.it</a></span>
										<span>PEC <a href="mailto:museodellescienze@pec.it">museodellescienze@pec.it</a></span>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-2 col-sm-6 offset-md-1">
					<nav class="footer__sitemap" aria-label="Sitemap Navigation Menù" role="navigation">
						<ul>
							<li><a href="/termini-e-condizioni" title="lorem">Staff</a></li>
							<li><a href="/cookie" title="lorem">Mission</a></li>
							<li><a href="/privacy" title="lorem">Museo Amico</a></li>
							<li><a href="/termini-e-condizioni" title="lorem">Accessibilità</a></li>
							<li><a href="/cookie" title="lorem">Associazioni amiche</a></li>
							<li><a href="/privacy" title="lorem">Biblioteca</a></li>
							<li><a href="/cookie" title="lorem">MUSE Cafè</a></li>
							<li><a href="/privacy" title="lorem">MUSE Shop</a></li>
							<li><a href="/cookie" title="lorem">Sostieni il MUSE</a></li>
							<li><a href="/privacy" title="lorem">FAQ</a></li>
						</ul>
					</nav>
				</div>
				<div class="col-md-5 offset-md-1">
					<div class="footer__more">
						<div class="footer__subscribe">
							<div class="footer__claim">
								<svg class="ico ico-svg">
									<use xlink:href="#ico-ws"></use>
								</svg>
								<div class="box">
									<h5 class="h5">
										Vuoi sapere le ultime dal MUSE? Ricevi la newsletter.
									</h5>
								</div>
							</div>
							<div class="footer__form">
								<form class="form" action="submit">
									<fieldset class="form-group">
										<label for="email">E-mail</label>
										<input type="text" id="email" placeholder="Il tuo indirizzo e-mail">
									</fieldset>
									<button type="button" class="btn--ico">
										Iscriviti alla nostra newsletter
										<div class="ico">
											<svg class="ico-svg">
												<use xlink:href="#ico-ticket"></use>
											</svg>
										</div>
									</button>
								</form>
							</div>
						</div>
						<div class="footer__social">
							<div class="title">Seguici</div>
							<nav aria-label="Social Navigation Menù" role="navigation">
								<ul class="ul--inline">
									<li>
										<a href="/" title="lorem">
											<svg class="ico ico-svg">
												<use xlink:href="#ico-ws"></use>
											</svg>
										</a>
									</li>
									<li>
										<a href="/" title="lorem">
											<svg class="ico ico-svg">
												<use xlink:href="#ico-ws"></use>
											</svg>
										</a>
									</li>
									<li>
										<a href="/" title="lorem">
											<svg class="ico ico-svg">
												<use xlink:href="#ico-ws"></use>
											</svg>
										</a>
									</li>
									<li>
										<a href="/" title="lorem">
											<svg class="ico ico-svg">
												<use xlink:href="#ico-ws"></use>
											</svg>
										</a>
									</li>
									<li>
										<a href="/" title="lorem">
											<svg class="ico ico-svg">
												<use xlink:href="#ico-ws"></use>
											</svg>
										</a>
									</li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer__secondary">
		<div class="container">
			<div class="row row--align-center">
				<div class="col-md-6">
					<div class="footer__copyright">
						© 2021 MUSE - Museo delle Scienze | Partita IVA 00653950220 | C.F. 80012510220
					</div>
				</div>
				<div class="col-md-4">
					<nav class="footer__subnav" aria-label="Copyright Navigation Menù" role="navigation">
						<ul class="ul--inline">
							<li><a href="/termini-e-condizioni">Termini e condizioni</a></li>
							<li><a href="/cookie">Cookie</a></li>
							<li><a href="/privacy">Privacy</a></li>
						</ul>
					</nav>
				</div>
				<div class="col-md-2">
					<div class="footer__credits">
						<a href="https://www.websolute.com/" title="lorem">
							<svg class="ico ico-svg">
								<use xlink:href="#ico-ws"></use>
							</svg>
							Websolute
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
