<header class="header <!--@@var=class-->">
	<div class="container">
		<div class="header__wrapper">
			<div class="header__primary">
				<div class="header__logo">
					<a href="#" alt="homepage">
						<svg class="logo"><use xlink:href="#logo"></use></svg>
					</a>
				</div>
			</div>
			<div class="header__secondary">
				<div class="header__nav-service">
					<nav aria-label="Service Navigation Menù" class="nav--service" role="navigation">
						<ul class="nav__wrapper">
							<li class="nav__item">
								<a href="#" title="Sostieni il Muse" class="btn--inline-ico-alt">
									<div class="ico">
										<svg class="ico-svg">
                                            <use xlink:href="#ico-ticket"></use>
                                        </svg>
									</div>
									Sostieni il Muse
								</a>
							</li>
							<li class="nav__item">
								<button type="button" class="btn--inline-ico-alt">
									<div class="ico">
										<svg class="ico-svg">
                                            <use xlink:href="#ico-ticket"></use>
                                        </svg>
									</div>
									Italiano
								</button>
							</li>
							<li class="nav__item">
								<button type="button" class="btn--inline-ico-alt">
									<div class="ico">
										<svg class="ico-svg">
                                            <use xlink:href="#ico-ticket"></use>
                                        </svg>
									</div>
									Cerca
								</button>
							</li>
						</ul>
					</nav>
				</div>
				<div class="header__nav-main">
					<nav aria-label="Main Navigation Menù" class="nav" role="navigation">
						<ul class="nav__wrapper">
							<li class="nav__item"><a href="/">Pianifica la visita</a></li>
							<li class="nav__item"><a href="/">Scopri il museo</a></li>
							<li class="nav__item"><a href="/">Partecipa</a></li>
							<li class="nav__item"><a href="/">Ricerca e collezioni</a></li>
							<li class="nav__item"><a href="/">Scuola</a></li>
							<li class="nav__item"><a href="/">MUSE online</a></li>
						</ul>
					</nav>
					<button type="button" class="btn--small btn--ico-ghost">
						Biglietti
						<div class="ico">
							<svg class="ico-svg">
                                <use xlink:href="#ico-ticket"></use>
                            </svg>
						</div>
					</button>
				</div>
			</div>
		</div>
		<!-- @@include ../components/breadcrumbs.html -->
	</div>
</header>
